@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html{
  scroll-behavior: smooth;
}

.name{
  width: 150px;
  height: 150px;

  color: #96b6b1;
  margin : 0px 1rem;
  margin-left: 7%;
}

.about{
  height: 95vh;
  background-color: #2d2c2a;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.intro{
  width: 50%;
  height: 95vh;
  justify-content: space-evenly;
  align-items: center;
  color: #f9eede;
  margin-left: 10vh;
}

.intro h1{
  font-size: 50px;
  margin-top: 20vh;
  margin-bottom: 1vh;
  text-align: justify;
}

.handle{
  font-size: 18px;
  margin-bottom: 3vh;
  text-align: justify;
}

.message{
  font-size: 6rem;
  margin-bottom: 4vh;
  text-align: justify;
}

.pfp{
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 5px solid #96b6b1;
  margin-top: 10vh;
  margin-right: 10vh;
  
}

.pfp img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.twitter-pics{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.twitter-pics .twitter-images{
  width: 30px;
  height: 30px;
  filter: invert(75%) sepia(9%) saturate(589%) hue-rotate(121deg) brightness(94%) contrast(87%);
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon-twit{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

.stats{
  display: flex;
  align-items: center;
  gap: 10px;
}



.following:hover {
  text-decoration: underline;
  cursor: pointer;
}

.followers:hover {
  text-decoration: underline;
  cursor: pointer;
}

li, .main_nav a, button{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
}

.main_nav a{
  color: #f9eede;
  text-decoration: none;
}

header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 1rem;
  background-color: #2d2c2a;
}
.main_nav{
  list-style: none;
  width: 50vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main_nav li{
  display: inline-block;
  padding: 0px 20px;
}

.main_nav li a{
  transition: all 0.3s ease 0s;
}

.main_nav li a:hover{
  color: #96b6b1;
}

.follow{
  padding: 10px 20px;
  color: #f9eede;
  background-color: #96b6b1;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.cta{
  padding: 10px 20px;
  background-color: #96b6b1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta:hover, .follow:hover, .resume:hover{
  background-color: #7f9692;
}

.modal{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.glass{
  width: 500px;
  height: 30%;
  padding: 10px 50px;
  background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255, 255, 255, 0.1));
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.18);
  box-shadow: 0px 8px 32px 0 rgba(0,0,0,0.37);
}

.glass .contact-header{
  font-family: 'Montserrat', sans-serif;
  color: #96b6b1;
  display: flex;
  justify-content: center;
}

.follower-modal{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.following-modal{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.stats-glass{
  width: 47%;
  height: 50%;
  padding: 10px 50px;
  background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255, 255, 255, 0.1));
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.18);
  box-shadow: 0px 8px 32px 0 rgba(0,0,0,0.37);
  overflow: auto;
}

.following-pfp div{
  width:80%;
}

.stats-glass .contact-header{
  font-family: 'Montserrat', sans-serif;
  color: #96b6b1;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.icons{
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  gap: 30px;
}

.icons-following{
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
  gap: 30px;
}

.icons-following img{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#following-name{
  color: #f9eede;
  font-size: 18px;
  font-weight: bold
}

.following-handle{
  color: #909084;
  font-size: 15px;
  margin-bottom: 5px;
}

.following-bio{
  color: #f9eede;
  font-size: 15px;
}

.following-pfp{
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

#stats{
  font-weight: bold;
  font-size: 17px;
}

#follower-info{
  color: #f9eede;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: auto;
  gap: 10px;
}

.icons-following::-webkit-scrollbar, .stats-glass::-webkit-scrollbar{
  display: none; 
}

.contact-images{
  width: 30px;
  height: 30px;
  gap: 10px;
}

#pfp{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#contacts{
  color: #f9eede;
}

.close{
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 50px;
  transform: rotate(45deg);
  cursor: pointer;
}

.follower-close{
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 50px;
  transform: rotate(45deg);
  cursor: pointer;
}

.following-close{
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 50px;
  transform: rotate(45deg);
  cursor: pointer;
}

.email{
  display: flex;
  align-items: center;
  gap: 20px;
}

.linkedin{
  display: flex;
  align-items: center;
  gap: 20px;
}
#linkedin-logo{
  transition: all 0.3s ease 0s;
}

#linkedin-logo:hover{
  filter: invert(40%) sepia(1%) saturate(3323%) hue-rotate(123deg) brightness(107%) contrast(92%);
}

span{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.to-top {
  background: #96b6b1;
  position: fixed;
  bottom: 16px;
  right:32px;
  width:50px;
  height:50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:32px;
  color:#2d2c2a;
  text-decoration: none;
  opacity:0;
  pointer-events: none;
  transition: all .4s;
}

.to-top.active {
  bottom:32px;
  pointer-events: auto;
  opacity:1;
}

.transition1{
  height: 5vh;
  background: linear-gradient(#2d2c2a, #f9eede);
}

.about-me{
  height: 100vh;
  background-color: #f9eede;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.about-header{
  color: #2d2c2a;
  margin : 0px 1rem;
  padding: 1rem 1rem;
  border-radius: 25px;
  margin-top: 2%;
}

.about-content{
  display: flex;
  width: 90%;
  height: 80vh;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.about-intro{
  width:1000px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.about-intro p:hover{
  transform: scale(1.1) translateX(30px);
  transition: all 0.3s ease 0s;
  background-color: #acd0cb;
}

.about-stats{
  width: 50%;
  height: 80vh;
  margin-right: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}

.item1, .item2, .item3, .item4{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-content img{
  width: 40px;
  height: 40px;
  margin: 20px;
}

.about-intro p{
  color: #2d2c2a;
  background-color: #96b6b1;
  border-radius: 25px;
  padding: 20px;
  box-shadow: 0px 8px 32px 0 rgba(0,0,0,0.37);
}

.stat1, .stat2, .stat3{
  color: #2d2c2a;
  height: 20vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}

.border{
  background-color: #96b6b1;
  width: 50%;
  height: 5px;
  border-radius: 10px;
}

#stat1, #stat2, #stat3, #border1, #border2, #project1, #project2, #project3, #project4, #project5{
  opacity: 0;
  transition: opacity 1.2s ease-in-out;
}

#stat1.fade-in, #stat2.fade-in, #stat3.fade-in, #border1.fade-in, #border2.fade-in, #project1.fade-in, #project2.fade-in,#project3.fade-in, #project4.fade-in, #project5.fade-in{
  opacity: 1;
}

.projects{
  background-color: #f9eede;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.project-header{
  color: #2d2c2a;
  padding-top: 10vh;
  display: flex;
  justify-content: center;
}

.project-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 85vw;
  height: 230vh;
}

.project {
  display: flex;
  flex-direction: row;
  width: 60vw;
  margin-top: 5%;
  background-color: #f5e8d2;
  border-radius: 25px;
}

#project1:hover, #project2:hover, #project3:hover, #project4:hover, #project5:hover{
  transform: scale(1.1);
  transition: all 0.3s ease 0s;
}
.project:nth-child(even) {
  flex-direction: row-reverse;
}

.project.odd {
  align-self: flex-start;
}

.project.even {
  align-self: flex-end;
}

.project-card{
  width: 30vw;
  height: 30vh;
  border-radius: 25px;
  background-color: #96b6b1;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 8px 32px 0 rgba(0,0,0,0.37);
}


.project-card:hover{
  transform: scale(1.1);
  transition: all 0.3s ease 0s;
  background-color: #acd0cb;
}

.project-card img{
  width: 80%;
  height: 80%;
}

.project.even .project-info{
  margin-left: 20px;
}

.project-info{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 2%;
  width: 90vw;
}

.project-title {
  border-bottom: 4px solid currentColor;
  display: inline-block;
  width: 95%;
  color: #2d2c2a;
}

.project-title a{
  text-decoration: none;
}

.project-img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-right: 10px;
}


.project-img:hover{
  transform: scale(1.5) translateY(-5px) translateX(5px);
  transition: transform 0.5s ease;
  filter: invert(72%) sepia(24%) saturate(219%) hue-rotate(121deg) brightness(94%) contrast(88%);
}

.project-skills{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  font-size: 18px;

}
.project-skills img{
  width: 30px;
  height: 30px;
  margin: 10px;
}

.project-skills img:hover{
  transform: scale(1.3);
  transition: all 0.3s ease 0s;
}

.experience{
  background-color: #f9eede;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 120vh;
  /* border: red 1px solid; */
}

.experience h1{
  color: #2d2c2a;
  padding-top: 10vh;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.experience-content {
  width: 85vw;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* border: red 1px solid; */
}

.experience-card {
  width: 40vw;
  height: 55vh;
  background-color: #f5e8d2;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 25%; 
  border-radius: 10%;
  box-shadow: 0px 8px 32px 0 rgba(0,0,0,0.1);
  /* border: red 1px solid; */
}

.experience-position {
  display: flex;
  flex-direction: row;
  /* border: blue 1px solid; */
}

.experience-info{
  /* border : green 1px solid; */
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.experience-position img {
  width: 150px;
  height: 150px;
  margin: 5% 5% 5% 5%;
}

.text-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-bottom: 2%;
  width: 90vw;
  /* border: orange 1px solid; */
}

.experience-place {
  border-bottom: 4px solid currentColor;
  font-size: 30px;
  font-weight: bold;
  width: 95%;
  color: #2d2c2a;
}

.transition2{
  height: 5vh;
  background: linear-gradient(#f9eede, #2d2c2a);
}


.footer{
  background: #2d2c2a;
  height: 35vh; 
  width: 100%;
  padding-top: 40px;
  color: #f9eede;
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-grow: 1; 
}

.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p{
  /* max-width: 500px; */
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.resume{
  padding: 10px 20px;
  background-color: #96b6b1;
  color: #f9eede;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}


.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li{
  margin: 0 10px;
}

.socials a{
  text-decoration: none;
  color: #f9eede;
}

.socials a i{
  font-size: 1.5rem;
  transition: color .4s ease;

}
.socials a:hover i{
  color: #96b6b1;
}

.footer-bottom{
  background: #2d2c2a;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

